:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    color: rgb(153, 153, 153);
}

.track {
    flex: 0 1 4rem;
    background: rgb(96, 96, 96);
    text-align: center;
    padding: 0.5rem;
}

.track__title {
    font-weight: normal;
}

.tracks {
    display: flex;
    flex: 1 0 auto;
}
