:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    color: rgb(153, 153, 153);
}

.track {
    flex: 0 1 4rem;
    background: rgb(96, 96, 96);
    text-align: center;
    padding: 0.5rem;
}

.track__title {
    font-weight: normal;
}

.tracks {
    display: flex;
    flex: 1 0 auto;
}

.track-loop {
    width: 100px;
    padding: 0 0.2rem;
    border-left: 1px solid rgb(55, 55, 55);
}

.track-loop:first-child {
    border-left: 0;
}
