:host {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100vh;
}

:host(.editor--draggable) main {
    cursor: -webkit-grab;
}

:host(.editor--drag) main {
    cursor: -webkit-grabbing;
}

main {
    display: flex;
    cursor: auto;
    flex: 1 0 auto;
}

.track {
    height: 60px;
    background: #f1f1f1;
}

.track--summary {
    padding: 1rem;
    box-sizing: border-box;
    border-right: 1px solid #d8d8d8;
}

.tracks-summary {

    flex: 0 0 200px;
}

.tracks-summary__header {
    height: 1.5rem;
    background: rgb(52, 52, 52);
}

.editor {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
}

.editor-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.waveforms-container {
    overflow: hidden;
}
