:host {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100vh;
}

:host(.editor--draggable) main {
    cursor: -webkit-grab;
}

:host(.editor--drag) main {
    cursor: -webkit-grabbing;
}

.header {
    background: rgba(163, 163, 163, 1);
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

ffmpeg-audioscroll {
    flex: 1 0 auto;
}

main {
    display: flex;
    cursor: auto;
    flex: 1 0 auto;
}

.track {
    height: 60px;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.track--summary {
    box-sizing: border-box;
    border-bottom-color: rgb(83, 83, 83);
    display: flex;
    align-items: stretch;
}

.track-index {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-right: 1px solid rgb(83, 83, 83);
}

.track__title {
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

.tracks-summary {
    background: rgb(96, 96, 96);
    flex: 0 0 200px;
}

.tracks-summary__header {
    height: 2rem;
    background: rgb(52, 52, 52);
}

.editor {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
    background: rgb(46, 46, 46);
}

.editor--selecting {
    cursor: crosshair;
}

.editor-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.waveforms-container {
    overflow: hidden;
}
