:host {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100vh;
    overflow: hidden;
    font-size: 0.8rem;
    color: rgb(52, 52, 52);
}

.header {
    display: flex;
    flex: 1;
}

.project-data {
    flex: 1;
}

ffmpeg-layout {
    flex: 1 0;
}
