:host {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    height: 100vh;
    overflow: hidden;
    font-size: 0.8rem;
    color: rgb(52, 52, 52);
}

.master-out {
    display: flex;
    grid-column: 3;
}


ffmpeg-layout {
    flex: 1 0;
}
