:host {
    display: flex;
    background: rgb(177, 177, 177);
}
.container {
    display: grid;
    background: rgb(100, 100, 100);
    margin: 1px;
    border:1px solid rgb(81, 81, 81);
    box-sizing: border-box;
    flex: 1 0 auto;
}

.resizer {
    background: rgb(143, 143, 143);
    position: absolute;
    z-index: 1;
    display: flex;
}

.resizer--horizontal {
    cursor: ns-resize;
    height: 5px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.resizer--horizontal .icon {
    color: #fff;
    transform: scale(0.6, 0.6);
}

.resizer--vertical {
    cursor: ew-resize;
    width: 5px;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.resizer--vertical .icon {
    transform: scale(0.6, 0.6) rotate(90deg);
    color: #fff;
}

.resizer--right {
    left: 100%;
}

.resizer--left {
    right: 100%;
}

.resizer--top {
    bottom: 100%;
}

.left-col {
    grid-column: 1;
    grid-row: 2;
    border-radius: 0 0.3rem 0.3rem 0;
    border-right:1px solid rgb(81, 81, 81);
    border-bottom:1px solid rgb(81, 81, 81);
    margin-right: 5px;
}

.right-col {
    grid-column: 3;
    grid-row: 2;
    margin-left: 5px;
    border-radius: 0 0 0 0.3rem;
    border-left:1px solid rgb(81, 81, 81);
    border-bottom:1px solid rgb(81, 81, 81);
}

.body {
    grid-column: 2;
    grid-row: 2;
    border:1px solid rgb(81, 81, 81);
    border-radius: 0.3rem;
    background: rgb(46, 46, 46);
}

.footer {
    margin-top: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
    border-top:1px solid rgb(81, 81, 81);
}

.cell {
    position: relative;
    z-index: 1;
}

.cell-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
}

.header {
    background: rgba(163, 163, 163, 1);
    padding: 0.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}
