:host {
    display: block;
    height: 100%;
    user-select: none;
    position: relative;
    z-index: 1;
    background: rgb(52, 52, 52);
    color: rgb(150, 150, 150);
    font-size: 0.6rem;
}

ffmpeg-audiowindow {
    cursor: grab;
}
