:host {
    display: block;
    height: 100%;
    overflow: hidden;
}

.key {
    background: #fff;
    position: relative;
    z-index: 1;
    border: 0;
    border-bottom: 1px solid #000;
    display: block;
    padding: 0;
    width: 100%;
    margin: 0;
}

.key--sharp {
    background: #000;
    color: #fff;
    width: 150px;
    position: relative;
    z-index: 2;
}

.key__name {
    position: absolute;
    z-index: 1;
    right: 0.5rem;
    bottom: 0.5rem;
    margin: 0;
}

.grid {
    position: relative;
    z-index: 1;
}
