:host {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.tick-range {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.tick-line {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.marker {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    cursor: pointer;
}
