:host {
    display: block;
    height: 20px;
    background: rgb(96, 96, 96);
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

:host(:hover) .handle {
    opacity: 1;
}

.window {
    height: 100%;
    border-radius: 0.3rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 5;
}

.handle {
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: col-resize;
    opacity: 0;
    transition: opacity 400ms ease;
}

.handle--end {
    left: auto;
    right: 0;
}

ul {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

li {
    list-style-type: none;
    height: 1px;
}
