:host {
    display: flex;
}

input {
    -webkit-appearance: slider-vertical;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;
}

label {
    margin-top: 0.3rem;
}
