button {
    display: block;
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
    position: relative;
    z-index: 1;
}

.key-label {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 2;
}

.sharp {
    background: #000;
    color: #fff;

}
