button {
    display: block;
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
    position: relative;
    z-index: 1;
    text-align: left;
    border-bottom: 1px solid #000;
}

.sharp {
    background: #000;
    color: #fff;
    width: 80%;
    border: 0;

}

.container {
    height: 100%;
    background: #fff;
}
