:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background: rgba(56, 56, 56);
    z-index: 1;
    list-style-type: none;
}

.grid-container {
    flex: 1 0 auto;
    position: relative;
    z-index: 1;
}
