:host {
    display: block;
}

ol, ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
}

.sample {
    display: flex;
}

.sample__data {
    flex: 0 0 100px;
}

.sample__switches {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.15rem;
    margin-top: 0.15rem;
}

.switch {
    width: 1.5rem;
    height: 1rem;
}

.switch-labels {
    font-size: 0.5rem;
    margin-left: 100px;
}

.switches-container {
    flex: 1 0 auto;
    display: flex;
    background: rgb(96, 96, 96);
    height: 1.5rem;
}

.switch-button {
    width: 1rem;
}
