:host {
    display: flex;
    height: 100px;
    width: 12px;
    overflow: hidden;
    background: rgb(46, 46, 46);
}

.meter {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.indicator {
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: 100% 100%;
}

.indicator--green {
    background: rgb(104, 185, 118);
    bottom: 0;
    height: 70%;
}

.indicator--yellow {
    background: rgb(220, 190, 105);
    bottom: 70%;
    height: 20%;
}

.indicator--red {
    background: rgb(177, 77, 65);
    bottom: 90%;
    height: 10%;
}
