:host {
    display: block;
    background: rgb(96, 96, 96);
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    padding: 0.5rem;
}

.field-label {
    margin-bottom: 0.1rem;
}

.field {
    margin-bottom: 0.5rem;
}
