:host {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

:host(:focus) {
    outline: none;
}

:host(:focus) .focus-indicator {
    display: block;
}

:host(:hover) .handle {
    opacity: 1;
}

.handle {
    transition: opacity 400ms ease;
    opacity: 0;
    display: block;
    position: absolute;
    width: 4px;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    border: 3px solid rgba(0, 0, 0, 1);
    border-radius: 0.2rem;
    cursor: col-resize;
}

.handle--end {
    left: auto;
    right: 0;
}
