:host {
    display: block;
    pointer-events: none;
    height: 100%;
    width: 1px;
}


.line {
    display: block;
    height: 100%;
    width: 1px;
    border-left: 1px solid;
}

.line--dashed {
    border-left: 1px dashed;
}
